# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cmake build directory
build/*
cmake-build-release/*
cmake-build-debug/*

# IDE config directories
.idea/*
.vs/
.vscode/
CMakeLists.txt.user
CMakeSettings.json
*.kdev4

# Compile commands link in root
compile_commands.json

# Cache
.cache/

# Local Docs
local_docs/

